<!DOCTYPE html>
<html lang="zh-Hans">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="FT中文网">
  <meta name="robots" content="index,follow">
  <meta name="author" content="FTC Interactive Graphics"> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
{{# article}}
  {{> partials/meta}}
{{/ article}}

  <!-- smoosh-->
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <!-- endsmoosh -->
</head>

<body>

<div data-o-component="o-swiper">

  <div id="swipe-trigger" data-o-swipe-trigger aria-controls="swipe-target">
    <img src="images/land-rover.gif">
  </div>

  <div id="swipe-target" data-o-swipe-target>
    <div class="s-header">
      <a href="http://www.landrover.com.cn"><img src="images/page2_top.jpg"></a>
    </div>

    <div class="s-body">
      <ul>
        <li>视频</li>
      </ul>
      <video class="s-media__video" src="media/video.mp4" controls poster="images/poster.png">Sorry, you browser does not support HTML5 video tag. Please switch to modern browsers.</video>
    </div>
    
    <div class="s-footer">
      <img src="images/page2_bottom.jpg">
    </div>
  </div>  
</div>


<!-- smoosh -->
<script src="scripts/bundle.js"></script>
<!-- endsmoosh -->
</body>

</html>