<!DOCTYPE html>
<html lang="zh-Hans">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="FT中文网">
  <meta name="robots" content="index,follow">
  <meta name="author" content="FTC Interactive Graphics"> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />

</head>

<body>

<script type="text/javascript">
document.write ('<scr'+'ipt src="http://v.behe.com/car/behe.slider.js"></scr'+'ipt>');
</script>

</body>

</html>