iframe {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

iframe::-webkit-scrollbar {
    display: none;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#swipe-trigger {
	width: 100%;

	&[aria-expanded=true] {
		
	}

	img {
		width: 100%;
		object-fit: fill;
	}
}

#swipe-target {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: fixed;
	top: 0;
	right: 100%;
	overflow: hidden;
	transition: right 1s;

	&[aria-hidden=false] {
		right: 0;
	}

	img, video {
		width: 100%;
	}
}

.s-body {
	width: 100%;
	ul {
		list-style-type: none;
		color: #fff;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #333;
		li {
			margin: 0;
			padding: 1em;
		}
	}
}

.s-footer {
	position: absolute;
	bottom: 0;
}

#demo {
	height: 80px;
	.banner-iframe--fullscreen {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
	}
}